body {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    overflow-x: hidden;
}

.stories {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.stories img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 3px solid transparent;
    box-shadow: 0px 0px 0px 3px #ffffff, 3px -4px 10px 2px purple, -3px 6px 10px 1px orange;
    margin-left: 30px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons i {
    font-size: 24px;
    color: #333;
    margin: 0 10px;
}